<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.foundations.mapper.ServeMapper">
    <update id="updatePriceById">
        update serve set price = #{price} where id = #{id} and status = 1000
    </update>
    
    <!-- 更新服务售卖状态 -->
    <update id="updateSaleStatus">
        update serve set sale_status = #{saleStatus} where id = #{id} and status = 1000
    </update>
    
    <!-- 查询区域下的服务列表 -->
    <select id="queryServeListByRegionId" resultType="com.jzo2o.api.foundations.dto.response.ServeResDTO">
        select a.id,
               a.sale_status,
               a.serve_item_id,
               b.name serve_item_name,
               b.serve_type_id,
               c.name serve_type_name,
               a.region_id,
               b.reference_price,
               a.price,
               a.is_hot,
               a.create_time,
               b.update_time
        from serve a
                 inner join serve_item b on a.serve_item_id = b.id
                 inner join serve_type c on b.serve_type_id = c.id
        where a.status = 1000 and region_id = #{regionId}
    </select>
    <select id="qryServeByRegionIdAndServeItemId" resultType="java.lang.Integer">
        select count(*) from serve where region_id = #{regionId} and serve_item_id = #{serveItemId} and status = 1000
    </select>

    <!-- 更新服务状态 -->
    <update id="updateStatus">
        update serve set status = #{status} where id = #{id} and status = 1000
    </update>

    <!-- 更新服务为热门状态 -->
    <update id="updateOnHotStatus">
        update serve set is_hot = #{isHot}, hot_time_stamp = #{hotTimeStamp} where id = #{id} and status = 1000
    </update>

    <!-- 更新服务为非热门状态 -->
    <update id="updateOffHotStatus">
        update serve set is_hot = #{isHot}, hot_time_stamp = #{hotTimeStamp} where id = #{id} and status = 1000
    </update>
</mapper>
